.x-tree-icon {
    width: 16px;
    height: 24px;
    line-height: 24px;
    color: #157fcc;
    font-size: 16px;
}

.x-toolbar-default {
    padding: 0px;
    border-style: solid;
    border-color: #99bce8;
    border-width: 0px;
    background-image: none;
    background-color: #d3e1f1;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #dfe9f5), color-stop(0%, #d3e1f1));
    background-image: -webkit-linear-gradient(top, #dfe9f5, #d3e1f1);
    background-image: -moz-linear-gradient(top, #dfe9f5, #d3e1f1);
    background-image: -o-linear-gradient(top, #dfe9f5, #d3e1f1);
    background-image: -ms-linear-gradient(top, #dfe9f5, #d3e1f1);
    background-image: linear-gradient(top, #dfe9f5, #d3e1f1);
}
