
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Extjs/resources/theme-classic-all.css" rel="stylesheet" />
    <link href="~/Extjs/crisp/resources/ux-all.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />
    <link href="~/css/icon.css" rel="stylesheet" />



</head>
<body>
    @*<script src="~/Extjs/ext-all-debug.js"></script>*@

    <script type="text/javascript" src="~/Extjs/ext-all.js"></script>
    <script src="~/Extjs/theme-classic.js"></script>
    <script src="~/Extjs/ux.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/serverCommunication.js"></script>
    <script src="~/js/lib.js"></script>
    <script src="~/js/allEnum.js"></script>

    @*<script src="~/app/model/sys/Menu.js"></script>*@
    @Scripts.Render("~/app/model")
    @Scripts.Render("~/app/controller")

    <script type="text/javascript">

        Ext.onReady(function () {

            Ext.Loader.setConfig({
                enable: true,
                paths: {
                    "xf": "/app",
                    "xf.view": "/app/view",
                    "xf.controller": "/app/controller",
                    "xf.model": "/app/model",
                }
            });
            Ext.toast("欢迎使用EAP", "欢迎", "t");


            Ext.application("xf.Application");
        });

    </script>
</body>
</html>
