
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/Extjs/resources/sef-all.css" rel="stylesheet" />
    <link href="~/assets/css/splash.css" rel="stylesheet" />

</head>
<body>
    @*<script src="~/Extjs/ext-all-debug.js"></script>*@

    <script src="~/lang.js"></script>
    <script src="~/runningCfg.js"></script>
    <script src="~/static_data.js"></script>

    <script type="text/javascript" src="~/Extjs/ext-all.js"></script>




    <script type="text/javascript">

        Ext.Loader.setConfig({
            enable: true,
            paths: {
                "sef": "/",
                "sef.core": "/sef",
                "sef.app": '/apps',

            }
        });
        Ext.onReady(function () {
            Ext.application("sef.core.Application");
        });

    </script>
    @Scripts.Render("~/sef")
    @Scripts.Render("~/apps")
</body>
</html>
