<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yanjun.Framework.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Yanjun.Framework.Service.Properties.Settings>
            <setting name="Yanjun_Framework_Service_WebReference_CadClientService"
                serializeAs="String">
                <value>http://192.168.1.133:10087/CadClientService.asmx</value>
            </setting>
        </Yanjun.Framework.Service.Properties.Settings>
    </applicationSettings>
</configuration>